:root {
  --clr-primary-100: #F3F4F6;
  --clr-primary-300: #4ADF86;

  --clr-dark-700: #2F3E53;
  --clr-dark-800: #1F2937;

  --fs-regular: 500;
  --fs-semi-bold: 700;
  --fs-bold: 900;
}

/* *** *** *** *** *** *** *** *** *** */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
/* *** *** *** *** *** *** *** *** *** */